[Unit]
Description=Cronn service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/cronn -f /etc/cronntab -u

[Install]
WantedBy=multi-user.target
