name: build

on:
  push:
    branches:
    tags:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set up go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
        id: go

      - name: checkout
        uses: actions/checkout@v4

      - name: free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          docker system prune -af

      - name: build and test
        run: |
          go test -timeout=3m -covermode=count -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
          cat $GITHUB_WORKSPACE/profile.cov_tmp | grep -v "mocks" > $GITHUB_WORKSPACE/profile.cov
        working-directory: app
        env:
          TZ: "America/Chicago"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: latest

      - name: install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: submit coverage
        run: |
          goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
        working-directory: app
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
